.footer {
	background: #101010;
	padding: 24rem 0;
	@media (max-width: 768px) {
		padding: 40rem 0;
	}
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 768px) {
			flex-direction: column;
			gap: 20rem;
			align-items: flex-start;
		}
		& p {
			font-size: 12rem;
			font-weight: 400;
			line-height: 1.25;
		}
	}
	& .logo {
		color: #fff;
		font-size: 20rem;
		font-weight: 700;
		text-transform: uppercase;
	}
}
