:root {
	// device
	--desktop: 1440;
	--table: 768;
	--mobile: 375;
	--table-media: 1025px;
	--mobile-media: 480px;

	// font
	--font-family: 'Montserrat', sans-serif;
	// width
	--container: 1272rem;
	// distance
	--padding-container: 30rem;
	// color
	--bg-color: #171717;
	--main-color: #fff;
	--accept-color: #ffdf8e;
	--secondary-bg: #171717;
}
